<% include header.ejs %>



    <section class="texto-encabezado bienvenido">

        <div class="caja">


            <div class="container iniciarsesion">

                <form action="/iniciarsesion" method="post">

                    <div class="form-group row">
                        <label for="email" class="col-md-2 form-control-label">Correo:</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="email" placeholder="ejemplo@correo.com">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-md-2 form-control-label">Contraseña:</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="form-group row">
                        <input type="submit" name="submit" value="Iniciar Sesión" class="btn btn-primary btn-lg btn-block">
                    </div>
                </form>

                <a href="/recuperar-password">¿Olvidó su contraseña?</a>
            </div>
        </div>

    </section>

    <!--Cargando archivos JS-->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/smooth-scroll.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
        smoothScroll.init();

        /*---------------------------------
           CABECERA ANIMADA
         ----------------------------------*/
        $(window).scroll(function() {

            var nav = $('.encabezado');
            var scroll = $(window).scrollTop();

            if (scroll >= 100) {
                nav.addClass("fondo-menu");
            } else {
                nav.removeClass("fondo-menu");
            }
        });
    </script>



    <% for (let i = 0; i < scripts.length; i++) { %>
        <script src="scripts[i]"></script>
        <% }  %>


            </body>

            </html>
