@charset "UTF-8";
html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.bienvenido {
  background: url("../images/fondo-encabezado.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  background: #111111;
  color: #fff;
  padding: 1rem 0 1rem 0;
  -webkit-transition: all 1s;
          transition: all 1s; }

.encabezado .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }

.fondo-menu {
  background: #196c9c; }

.boton-menu,
.boton-sign-in {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0; }

.boton-menu:focus,
.boton-sign-in:focus {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0;
  outline: 0; }

.boton-sign-in,
.boton-sign-in:focus {
  margin-left: auto;
  margin-right: 0.8rem; }

#menu-principal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0; }

#menu-principal ul a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #fff; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #1F89C7;
  border-top: 1px solid #fff;
  text-decoration: none; }

#bloque-buscar p {
  margin-bottom: 0; }

#bloque-buscar input {
  margin-top: 10px; }

.texto-encabezado {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.texto-encabezado .btn-primary a {
  color: #fff;
  text-decoration: none; }

.texto-encabezado .btn-primary {
  margin-top: 1rem;
  background-color: #1F89C7;
  border-color: #1F89C7; }

.texto-encabezado .btn-primary:hover {
  background-color: #FF521B;
  border-color: #FF521B; }

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  -webkit-animation: flecha-animada 2s ease-in-out infinite;
          animation: flecha-animada 2s ease-in-out infinite; }

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
/*------------------------
Secci├│n TU MEJOR PREESCOLAR
------------------------*/
.mejor-preescolar {
  background: #1F89C7;
  color: #fff; }

.mejor-preescolar p {
  text-align: justify; }

.rotateMe {
  -webkit-transition: -webkit-transform 1s ease-out;
          transition: transform 1s ease-out; }

.rotateMe:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg); }

/*--------------------------------
Secci├│n Tu mejor Elecci├│n
--------------------------------*/
.tu-mejor-eleccion span {
  color: #FF521B; }

.tu-mejor-eleccion ul {
  list-style: none; }

.tu-mejor-eleccion ul .fa {
  font-size: 2rem;
  background: #1F89C7;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  color: #fff;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; }

.tu-mejor-eleccion ul li:hover .fa {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #196c9c; }

.tu-mejor-eleccion ul h5 {
  font-weight: bold;
  margin-top: 0.8rem; }

.tu-mejor-eleccion ul li {
  min-height: 9rem; }

.tu-mejor-eleccion a {
  color: #fff;
  text-decoration: none; }

.tu-mejor-eleccion button:hover {
  color: #fff;
  background: #FF521B;
  border-color: #FF521B; }

.imagen-medio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*------------------------
Secci├│n Pie de P├ígina
------------------------*/
.pie-de-pagina {
  background: #1F89C7;
  color: #fff; }

.pie-de-pagina h4 {
  font-family: 'Arima Madurai', cursive;
  font-size: 1.5rem; }

.pie-de-pagina ul {
  list-style: none; }

.pie-de-pagina ul i {
  font-size: 3rem; }

.pie-de-pagina span {
  font-size: 1.2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.pie-de-pagina p {
  margin-top: 0;
  margin-bottom: 0; }

.pie-de-pagina a {
  text-decoration: none;
  color: #fff; }

.telefono {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF521B; }

.telefono:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFC21B;
  border-color: #FFC21B; }

.telefono .fa {
  font-size: 1.5rem; }

.telefono span {
  margin-left: 1rem; }

.boton-telefono {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.texto-encabezado {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* -----------------------------------
Para tama├▒o Medio (TABLET)
------------------------------------*/
@media (min-width: 768px) {
  .iniciar-sesion,
  .iniciar-sesion:focus {
    margin-left: auto;
    background: transparent;
    color: #fff;
    border-color: transparent;
    font-size: 1.3rem;
    outline: 0; }

  .bienvenido {
    background: url("../images/fondo-encabezado-lg.jpg") no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }
/* -----------------------------------
Para tama├▒o Grande y Extra grande (TABLET)
------------------------------------*/
@media (min-width: 992px) {
  #menu-principal {
    height: 100% !important;
    display: block; }

  #menu-principal ul a {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    border-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }

  #menu-principal ul a:hover {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #1F89C7;
    border-top: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 5px solid #1F89C7;
    margin-right: 0.5rem; }

  #menu-principal ul li.active a {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #1F89C7;
    border-bottom: 5px solid #1F89C7;
    border-top: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem; }

  ul.menu-principal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }

  button.hidden-sm-down.iniciar-sesion.collapsed {
    height: 100% !important;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }

  nav#menu-principal {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto; }

  #menu-principal ul {
    list-style: none;
    padding: 0;
    margin: 0; }

  form#bloque-buscar {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    background: #111111;
    position: absolute;
    width: 20rem;
    right: 1rem;
    border-radius: 15px;
    top: 3.5rem;
    font-size: 1.3rem; }

  .container.form-group input {
    font-size: 1.2rem; }

  .tu-mejor-eleccion ul li {
    min-height: 9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .tu-mejor-eleccion ul .fa {
    font-size: 2rem;
    background: #1f89c7;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    color: #fff;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

  .tu-mejor-eleccion .texto-izquierda li i {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

  .tu-mejor-eleccion ul h5 {
    margin-top: 0; }

  .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .texto-encabezado .btn-primary {
    margin-top: 10rem; }

  .texto-encabezado p {
    font-size: 1.2rem; } }

/*# sourceMappingURL=estilos.css.map */