@charset "UTF-8";
html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.imagen-contacto {
  background: url("../images/fondo-contacto-libro.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  background: #111111;
  color: #fff;
  padding: 0.5rem 0; }

.encabezado .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }

.boton-menu,
.boton-sign-in {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0; }

.boton-menu:focus,
.boton-sign-in:focus {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0;
  outline: 0; }

.boton-sign-in,
.boton-sign-in:focus {
  margin-left: auto;
  margin-right: 0.8rem; }

#bloque-buscar p {
  margin-bottom: 0; }

#bloque-buscar input {
  margin-top: 10px; }

.texto-encabezado {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

ul.menu-principal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0; }

#menu-principal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0; }

#menu-principal ul a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #fff; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  display: block;
  padding: 0.8rem 0;
  text-align: center;
  text-transform: uppercase;
  color: #1F89C7;
  border-top: 1px solid #fff;
  text-decoration: none; }

#bloque-buscar p {
  margin-bottom: 0; }

#bloque-buscar input {
  margin-top: 10px; }

.form-en-linea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.eleccion input {
  margin-right: 1rem; }

.formulario,
.inicio-formulario {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.inicio-formulario {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.formulario-letras {
  width: 700px; }

.inicio-formulario img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-left: 2rem; }

.mapa {
  width: 100%;
  height: 25rem;
  margin: 4rem 0 4rem 0; }

/*------------------------
Secci├│n Pie de P├ígina
------------------------*/
.pie-de-pagina {
  background: #1F89C7;
  color: #fff; }

.pie-de-pagina h4 {
  font-family: 'Arima Madurai', cursive;
  font-size: 1.5rem;
  text-align: center; }

.pie-de-pagina ul {
  list-style: none; }

.pie-de-pagina ul i {
  font-size: 3rem; }

.pie-de-pagina span {
  font-size: 1.2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.pie-de-pagina p {
  margin-top: 0;
  margin-bottom: 0; }

.pie-de-pagina a {
  text-decoration: none;
  color: #fff; }

.telefono {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF521B; }

.telefono:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFC21B;
  border-color: #FFC21B; }

.telefono .fa {
  font-size: 1.5rem; }

.telefono span {
  margin-left: 1rem; }

.boton-telefono {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.texto-encabezado {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.trabajamos {
  margin-top: 2rem; }

.imagen-contacto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/* -----------------------------------
Para tama├▒o Medio (TABLET)
------------------------------------*/
@media (min-width: 768px) {
  .iniciar-sesion,
  .iniciar-sesion:focus {
    margin-left: auto;
    background: transparent;
    color: #fff;
    border-color: transparent;
    font-size: 1.3rem;
    outline: 0; }

  .imagen-nosotros {
    background: url("../images/fondo-contacto-libro.jpg") no-repeat center top;
    color: #fff;
    background-size: cover;
    height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }
/* -----------------------------------
Para tama├▒o Grande y Extra grande (TABLET)
------------------------------------*/
@media (min-width: 992px) {
  #menu-principal {
    height: 100% !important;
    display: block; }

  #menu-principal ul a {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    border-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }

  #menu-principal ul a:hover {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #1F89C7;
    border-top: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 5px solid #1F89C7;
    margin-right: 0.5rem; }

  #menu-principal ul li.active a {
    display: block;
    padding: 0.8rem 0.8rem 0.6rem;
    text-align: center;
    text-transform: capitalize;
    color: #1F89C7;
    border-bottom: 5px solid #1F89C7;
    border-top: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem; }

  ul.menu-principal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0; }

  nav#menu-principal {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto; }

  #menu-principal ul {
    list-style: none;
    padding: 0;
    margin: 0; }

  form#bloque-buscar {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    background: #111111;
    position: absolute;
    width: 20rem;
    right: 1rem;
    border-radius: 15px;
    top: 3.5rem;
    font-size: 1.3rem; }

  .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .texto-encabezado p {
    font-size: 1.2rem; } }

/*# sourceMappingURL=estilos-contacto.css.map */